<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <footer>
        <div class="container foot">
            <hr style="width: 1500px; right: 110px;position: relative;height:2px;border:none;color:#333;background-color:#333;">
            <div class="mail">
                <h5>Bạn muốn là người sớm nhất nhận khuyến mãi đặc biệt<br>Đăng ký ngay</h5>
                <form class="as d-flex" style="width: 450px; height: 40px;">
                    <input class="form-control me-2" type="email" placeholder="Nhập email" aria-label="Email">
                    <button class="btn btn-primary" style="width: 140px;" type="submit">Đăng ký</button>
                  </form>
            </div>
            <hr>
            <div class="address">
                <h5><b>THÔNG TIN LIÊN HỆ</b></h5>
                 <p>Địa chỉ : 196 Nguyễn Đình Chiểu<br>Phường 6, Quận 3, TP.HCM<br>Hotline: 1900 9477<br>Email: toanvtps11241@fpt.edu.vn</p>   
            </div>
            <div class="support2">
                <h5><b>HỔ TRỢ KHÁCH HÀNG</b></h5>
                <p>
                    <ul>
                        <li>Điện thoại</li>
                        <li>Laptop</li>
                        <li>Tablet</li>
                        <li>Phụ kiện</li>
                    </ul>
                </p>
            </div>
            <div class="support3">
                <p>
                    <ul>
                        <li>Bảo mật thông tin</li>
                        <li>Miễn phí giao hàng</li>
                        <li>Hướng dẫn thanh toán</li>
                        <li>Hướng dẫn mua hàng</li>
                    </ul>
                </p>
            </div>
            <div class="pay">
                <h5><b>PHƯƠNG THỨC THANH TOÁN</b></h5>
                <img src="/app-assets/img/icons/pay.jpg" style="width: 220px;">              
            </div>
        </div>
    </footer>
</body>
</html>